
.log-box {
	border: #E9E9E9 1px solid;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	margin: 5% 15px 15px;
	background: #fff;
	 /*display: flex;
	 flex: 1;*/
}


.log-box .mui-input-row {
	background: #fff;
	margin: 5px 0px;
	position: relative;
	overflow: inherit;
}

.log-box .mui-input-row:after {
	content: '';
	background: #E9E9E9;
	height: 1px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	display: inline-block;
}

.log-box .mui-input-row:last-child:after {
	display: none;
}

.log-box .mui-input-row .iconfont {
	font-size: 20px;
	position: absolute;
	z-index: 1;
	top: 14px;
	left: 5px;
	width: 30px;
	height: 30px;
	text-align: center;
	color: #b2b2b2;
}

.log-box .mui-input-row input[type=password],
.log-box .mui-input-row input[type=text] {
	border: none;
	padding: 10px 15px 10px 15px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	margin-bottom: 0px;
	background: none;
	font-size: 15px;
	height: 47px;
}

.log-box .mui-input-row input::placeholder {
	color: #B2B2B2;
}

.log-box .mui-input-row .mui-input-password~.mui-icon-eye {
	right: 0px;
	top: 13px;
	color: #989da6;
}

.log-box .mui-input-row .mui-input-password~.mui-icon-eye.mui-active {
	color: #447df3;
}

.log-box .mui-input-row .mui-input-clear~.mui-icon-clear {
	color: #E3E4E8;
	top: 13px;
}

.log-box .mui-input-row .szyz {
	font-size: 14px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	display: inline-block;
	line-height: 28px;
	padding: 0px 10px;
	color: #888;
	position: absolute;
	right: 8px;
	font-style: normal;
}

.log-box .mui-input-row .gray {
	background: #f2f2f2;
}


.log-tab{
	height:44px;
	width:100%;
	 font-size:16px;
	  display: flex; 
	  display: -webkit-flex; 
	  justify-content: center; 
	  align-items: center;
	   justify-content: center;
	  background: #508cee;
	   }
.log-tab li{
	width:50%;
	 display: block;
	  text-align: center;
	   position: relative;
	    line-height: 44px;
	     height: 44px; 
	     color:rgba(255,255,255,.8);
	     }

.log-tab li.active{
	
	color:#fff; 
	font-weight: bold; 
	position: relative; 
	height: 44px; 
	display: block;
	}
.log-tab li.active:before{ 
	content: '';  
	height: 0px; 
    width:0px;
     position: absolute;
      bottom: 0px; 
      left: 50%;
       margin-left: -8px;
     
        border-left: transparent 6px solid;
        border-right: transparent 6px solid;
        border-bottom: #fff 6px solid;
        }

.log-content{}
.log-content>div{
	display:none;
	}




.log-btn {
	background:#ffb813;
	height: 44px;
	border: none;
	/*margin: 30px 15px 10px;*/
	border-radius: 2px;
	-webkit-border-radius: 2px;
	color: #fff;
	font-size: 17px;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}


.log-btn:active {
	color: #fff;
	background: #508cee;
}

.step-btn {
	background: #fff;
	height: 47px;
	border: none;
	border: #eee 1px solid;
	margin:30px 15px 15px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	color: #999;
	font-size: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.step-btn:active {
	color: #19c7e5;
}

.forget-text {
	text-align: center;
	height: 30px;
	padding: 0px 15px;
	font-size: 15px;
	display: flex;
	justify-content:space-between;
	width: 100%;
}

.forget-text a {
	color: #999;
}

.reg-box {
	background: #fff;
	padding-bottom: 10px;
}

.reg-box .mui-input-row {
	background: #fff;
	position: relative;
	overflow: inherit;
	padding: 3px 0px;
}

.reg-box .mui-input-row:after {
	content: '';
	background: #eee;
	height: 1px;
	position: absolute;
	left: 15px;
	bottom: 0px;
	right: 15px;
	display: inline-block;
}

/*.reg-box .mui-input-row:last-child:after {
	display: none;
}*/

.reg-box .mui-input-row input::placeholder {
	color: #999;
}

.reg-box .mui-input-row .iconfont {
	font-size: 20px;
	position: absolute;
	z-index: 1;
	top: 14px;
	left: 5px;
	width: 30px;
	height: 30px;
	text-align: center;
	color: #b2b2b2;
}

.reg-box .mui-input-row input[type=password],
.reg-box .mui-input-row input[type=text] {
	border: none;
	padding: 10px 15px 10px 15px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	margin-bottom: 0px;
	background: none;
	font-size: 15px;
	height: 47px;
}

.reg-box .mui-input-row .mui-input-password~.mui-icon-eye {
	right: 10px;
	top: 15px;
	color: #ccc;
}

.reg-box .mui-input-row .mui-input-password~.mui-icon-eye.mui-active {
	color: #447df3;
}

.reg-box .mui-input-row .mui-input-clear~.mui-icon-clear {
	color: #E3E4E8;
	top: 13px;
}

.reg-box .mui-input-row .szyz {
	font-size: 14px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	display: inline-block;
	line-height: 28px;
	padding: 0px 10px;
	color: #333;
	position: absolute;
	right: 15px;
	font-style: normal;
}

.reg-box .mui-input-row .gray {
	background: #f2f2f2;
}


.protocol{
	padding: 10px 0 10px 0px;
	height: auto;
	overflow: hidden;
	text-align: center;
	 display: block;
}

.protocol a{
    font-size: 12px;
    color: #999;
    /* display: flex; */
    /* display: -webkit-flex; */
    align-content: center;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* padding-left: 25px; */
}

.protocol a i{
	display: inline-block;
	margin-right: 5px;
	font-size: 24px;
	
}
.protocol a i:before{ 
	content: '\e411'; 
	font-family: Muiicons;
	}
.protocol a.active i:before{ 
	content: '\e442'; 
	font-family: Muiicons; 
	color: #508cee; 
	}



.member-head {
	background:url(../images/member-bg.png) no-repeat;
	background-size: cover;
    width: 100%;
	}
.member-head .title {
	display: flex;
	display: -webkit-flex;
	justify-content:center;
	align-content: center;
	-webkit-align-content: center;
	height: 44px;
	align-items: center;
	-webkit-align-items: center;
	color: #fff;
}


.member-head .content{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 0px 25px 0px;
}
.member-head .content .user {
	display: flex;
	display: -webkit-flex;
	font-size: 17px;
	color: #fff;
	align-items: center;
	padding-left: 15px;
	
}
.member-head .content .user .photo{
	 display: block;
	 border-radius:100% ;
	 -webkit-border-radius:100% ;
	 width: 60px; 
	 height: 60px;
	 margin-right: 10px;
	 border: rgba(255,255,255,.1) 3px solid;
	 }
.member-head .content .user .info{
	font-size: 16px;
}
.member-head .content .user .info .tel{
	  color: rgba(255,255,255,.5);
	  font-size: 14px;
}	 
	 
.member-head .content .mine{
	height: 30px;
	background:rgba(255,255,255,.1);
	line-height: 30px;
	font-size: 15px;
	color: #2B2B2B;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	position: relative;
	margin-right: 15px;
}
.member-head .content .mine a{
	position: relative;
	padding: 0px 15px;
	color: #fff;
	display: block;
	font-size: 14px;
}


.mui-content>.mui-table-view.m-list-item:first-child {
	margin-top: 0px;
}

.m-list-item li.mui-table-view-cell {
	padding: 15px 15px;
	font-size: 15px;
	color: #333;
	line-height: 24px;
}

.m-list-item.mui-table-view:before,.m-list-item.mui-table-view:after {
	display: none;
}

.m-list-item li.mui-table-view-cell>a:not(.mui-btn) {
	margin: -15px -15px;
}

.m-list-item li.mui-table-view-cell:after {
	right: 0px;
	background: #eee;
}

.m-list-item li a .icon {
	margin-right: 8px;
	height: 22px;
	max-width: 22px;
	line-height: 22px;
	display: inline-block;
	float: left;
	
}
.m-list-item li a .icon img{
	 width: 100%;
	 display:block;
}
.m-list-item li .value{ 
	float: right; 
	color: #333;
	 font-size: 15px;
	 padding-right: 20px;
	  line-height: 24px;
	 }

.m-list-item li .head-img{
	 border-radius: 50%; 
	 -webkit-border-radius: 50%;
	 }
.m-list-item li .text{ 
	position: absolute;
	 right: 35px; 
	 top: 23px; 
	 font-size: 15px;
	  color: #ccc;}

.m-list-item  li.mui-input-row {
	padding: 5px 0px;
	font-size: 15px;
	color: #333;
	line-height: 24px;
	background: #fff;
	position: relative;
}

.m-list-item  li.mui-input-row label~input{
	font-size: 15px;
}
.m-list-item  li.mui-input-row:after{
	    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #fee3e1;
} 
.m-list-item li.mui-input-row label~input::placeholder{
	color: #ccc;
}

.m-list-item .card .mui-switch.mui-active{
	border-color: #508cee; 
	background-color: #508cee;
	}


.m-no-prompt{
	 height: 100%; 
	  display: flex;
	   display: -webkit-flex;
	    align-content: center;
	     align-items: center;
	      justify-content: center;
	      }
.m-no-prompt .prompt-content{
	  flex: 1; 
	  text-align: center; 
	  display: flex;
	   align-items: center; 
	   align-content: center; 
	    flex-flow: column; 
	     height: 100%; 
	     margin-top: 50%; 
	     }
.m-no-prompt .prompt-content p{
	font-size: 16px; 
	padding-top: 10px; 
	color: #999;
	}
.m-no-prompt .prompt-content img{
	width: 100px; 
	display: block;
	}
.m-no-prompt .prompt-content button{
	 margin-top: 20px;
	 background: #508CEE; 
	 font-size: 15px; 
	 border: none; 
	 border-radius:4px;
	  -webkit-border-radius:4px;
	   color: #fff; 
	   padding: 8px 25px;
	   }
	   
.mui-content>.m-apply:first-child{
	 margin-top: 0px;
}	   
	   
.m-apply.mui-table-view {
	background: none;
	margin-top: 40px;
}
.m-apply.mui-table-view:before,.m-apply.mui-table-view:after{
	 display: none;
}
.m-apply.mui-table-view .mui-table-view-cell {
	position: relative;
	background: #fff;
	
}
.m-apply.mui-table-view .mui-table-view-cell:last-child:after{
	display: none;
}
.m-apply.mui-table-view .mui-table-view-cell:after {
	left: 15px;
	 background: #eee;
}

.m-apply.mui-table-view .mui-media-object {
	line-height: 80px;
	max-width: 80px;
	height: 80px;
	
}
.m-apply.mui-table-view .mui-media-object img{
	width: 100%;
	 display: block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.m-apply.mui-table-view .mui-media-body {
	position: relative;
	display: block;
}

.m-apply.mui-table-view .mui-media-body .info {
		display: flex;
	display: -webkit-flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 80px;
	align-content: center;
	font-size: 16px;
	color: #333;
}

.m-apply.mui-table-view .mui-media-body .tel{
	 margin: 5px 0px 10px 0px;
	font-size: 14px;
	color: #666;
}
.m-apply.mui-table-view .mui-media-body .info  time{ 
	font-size: 14px; 
	color: #999;
	 
	 }
.m-apply.mui-table-view .mui-media-body .fiexd-tel{
	position: absolute;
	 background: #ff5155;
	 color: #fff;
	  right: 0px;
	  border-radius: 100%;
	  -webkit-border-radius: 100%;
	  width: 30px;
	  height:30px;
	  text-align: center;
	   line-height: 30px;
	   font-size: 14px;
	  
}
.m-progress-box{ 
	padding: 15px;
	 background: #fff;
	 }
.m-progress{
	 position: relative;
	  }
.m-progress:before{
	 width: 2px; 
	 height: 87%; 
	 content: ''; 
	 top: 3px; 
	 background: #508CEE;
	  position: absolute; 
	  left: 6px;
	  }
.m-progress li span{
	 font-size: 14px;
	  color: #999; 
	  display: block;
	  }
.m-progress li{
	 position: relative; 
	 padding-left: 20px; 
	 margin-bottom: 20px; 
	 font-size: 15px;
	  color: #333;
	  }
.m-progress li:before{ 
	content: '';
	 width: 10px;
	  height: 10px;
	   background: #508CEE;
	    display: inline-block;
	     position: absolute;
	      left: 0px; border-radius: 100%;
	        -webkit-border-radius: 100%; 
	        top: 3px; border: #fff 2px solid;
	        }
.m-progress-box .btn{
	  width: 100%;
	  padding: 10px 0px;
	  border: #eee 1px solid;
	  border-radius: 0px;
	  font-size: 16px;
	  margin-bottom: 15px;
}

.mui-content>.m-record:first-child{
	 margin-top: 0px;
}

.m-record:before,.m-record:after{
	 display: none;
}
.m-record{
	background:none;
}
.m-record li{
	margin-bottom: 10px;
	background: #fff;
}
.m-record li:after{
	background-color: #eee;
}
.m-record li .tit{
	 display: flex; 
	 display: -webkit-flex;
	 justify-content: space-between;
	 font-size: 15px;
	 position: relative;
	 padding-bottom: 10px;
	 margin-bottom: 15px;
}
.m-record li .tit:after{
	 content: '';
	 height: 1px;
	  position: absolute;
	  bottom: 0px;
	  left: 0px;
	  display: block;
	  right: 0px;
	  background: #eee;
	 }
.m-record li .tit .time{
	font-size: 13px;
	color: #999;
}

.m-record li .content{
	  display: flex;
	  display: -webkit-flex;
	  align-items: center;
}
.m-record li .content .price{
	font-size: 13px;
	color: #999;
	float: left;
}
.m-record li .content .price span{ 
	color: #ff5155;
	font-size: 24px;
	 display: block;
	}

.m-record li .content .info{
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
}

.m-record li .content .info .status{
	position: absolute;
	right: 0px;
	top: 0px;
	background: rgba(80,140,238,.5);
	color: #fff;
	display: inline-block;
	padding: 2px 5px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.m-record li .content .info .status.wcl{
	background:rgba(255,81,85,.5);
}

.m-record li .content .info .status.yfd{
	background:rgba(202,141,80,.5);
}

.mui-content>.m-active:first-child{
	 margin-top: 0px;
}
.m-active{ 
	background: none;
	}
.m-active:before,.m-active:after{
	display: none;
}
.m-active li{ 
	margin-bottom: 10px;
	background: #fff;
	border-bottom: #eee 1px solid;
	}
.m-active .tit{ padding: 11px 15px;
color: #333;
font-size: 16px;
display: flex;
display: -webkit-flex;
flex-flow: column;
}
.m-active .tit .time{
	font-size: 14px;
	color: #999;
}
.m-active .picture img{
	width: 100%;
	display: block;
}
.m-active .content{
	padding: 11px 15px;
	font-size: 15px;
	color: #666;
}
.m-active .view{
	color: #508CEE;
	position: relative;
	display: block;
	padding:11px 15px;
	font-size: 14px;
}
.m-active .view:before{
	 content: '';
	 background: #eee;
	 position: absolute;
	 top: 0px;
	 left: 15px;
	 right: 15px;
	 height: 1px;
}

.m-wechat-box{
	 margin: 52% 15% 0px 15%;
	 
}
.m-wechat-box .picture{ 
	width: 90%;
	 margin: 0px auto;
	  text-align: center;
	   display: block;
	   }
.m-wechat-box .text{
	font-size: 15px;
	color: #333;
	text-align: center;
	margin-top: 10px;
}
.m-wechat-box .btn{ display: flex;
display: -webkit-flex;
justify-content: space-between;
margin-top: 20px;
}
.m-wechat-box .btn a{ border: #eee 1px solid;
 height: 44px;
 width: 48%;
 border-radius: 4px;
 -webkit-border-radius: 4px;
 text-align: center;
 line-height: 44px;
 font-size: 15px;
 color: #333;
 }
.m-wechat-box .btn a.blue{
	color: #fff;
	background: #508CEE;
	border: #508CEE 1px solid;
}

.m-page {
	margin: 13px 15px;
	line-height: 24px;
	}
.m-page  p{	
	color: #333;
	font-size: 16px;
	}

